import { faker } from '@faker-js/faker'

describe('{{ suite_title }}', {%+ if suite_tags or suite_retries -%}
{ tags: {{ suite_tags }}{% if suite_retries %}, retries: {{ suite_retries }}{% endif %} },
{%- endif +%} () => {
  